<section class="container-fluid p-4">

    <h4>Hello All Welcome to our Angular SPA</h4>

    <p class="alert alert-info p-4">
        <strong>SPA</strong> - a single page applcation is an appliction
        that has only one page and all the activity will happen in that single
        page and it is possible to interchange the html content of the page 
        through the javascript code associated with it.
    </p>

    <p>
        This is a demo appliction that is managing tasks of a user to 
        allow him maintain a list of tasks and their status of completion.
    </p>

    <p>
        We have used bootstrap to decorate our applciation and also to take advantage
        of its' responsive web design.
    </p>
</section>
