<h4>Statement </h4>

<div class="col-sm-11 mx-auto p-2">
    <div class="row fw-bold border-bottom border-primary p-1 text-center">
        <div class="col-2">
            Txn#
        </div>
        <div class="col-2">
            Date
        </div>
        <div class="col">
            Ledger
        </div>
        <div class="col-2">
            Credit
        </div>
        <div class="col-2">
            Debit
        </div>
        <div class="col-2">

        </div>
    </div>
    <app-txn-form (saveBtnClick)="add($event)"></app-txn-form>
    <div *ngIf="!txns && !errMsg" class="row">
        <div class="col alert alert-info">
            Please wait while loading data
        </div>
    </div>
    <div *ngIf="txns && txns.length===0" class="row">
        <div class="col alert alert-info">
            No Records Found
        </div>
    </div>
    <div *ngIf="txns && txns.length>0">
        <div *ngFor="let txn of txns">
            <app-txn-row *ngIf="!txn.isEditable" [t]="txn" (deleteBtnClick)="delete($event)"
                (editBtnClick)="markEditable($event)">
                </app-txn-row>
                <app-txn-form *ngIf="txn.isEditable" [txn]="txn" (saveBtnClick)="update($event)"
                    (resetBtnClick)="unMarkEditable($event)">
                    </app-txn-form>
        </div>
    </div>
</div>